@model IEnumerable<Quotation>


<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quotation Overview</h5>

                    <!-- Table with stripped rows -->
                    
                    <table class="table datatable ">
                        <thead>
                            <tr class="">
                                <th class="text-start " >Order Request No</th>
                                <th class="text-start">Quotation No</th>
                                <th class="text-start">Status</th>
                                <th class="text-start">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var quotation in Model)
                            {
                                <tr class="">
                                    <td class="text-start">@quotation.RequestNo</td>
                                    <td class="text-start"> @quotation.QuotationNo</td>
                                    <td class="text-start">
                                        @switch (quotation.Status)
                                        {
                                            case "Pending":
                                                <span class="badge bg-warning">@quotation.Status</span>
                                                break;
                                            case "Cancelled":
                                                <span class="badge bg-danger">@quotation.Status</span>
                                                break;
                                            case "Approved":
                                                <span class="badge bg-success">@quotation.Status</span>
                                                break;
                                            case "Processing":
                                                <span class="badge bg-info">@quotation.Status</span>
                                                break;
                                            default:
                                                @quotation.Status
                                                break;
                                        }
                                    </td>
                                    <td class="text-start">
                                        <button style="border: none">
                                            <a asp-action="QuotationDetails" asp-route-requestNo="@quotation.RequestNo">Details</a>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>
