@model PurchaseOrderCart

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Product.Description</h5>

      
        <form class="row g-3" method="post">
            <input hidden asp-for="ProductId" />
            <div class="col-6">
                <label for="Product Number" class="form-label">Product Number</label>
                <input disabled type="text" class="form-control" id="Product Number" placeholder="@Model.Product.Number">
            </div>
            <div class="col-6">
                <label for="Description" class="form-label">Description</label>
                <input disabled type="text" class="form-control" id="Description" placeholder="@Model.Product.Description">
            </div>
            <div class="col-6">
                <label for="Category" class="form-label">Category</label>
                <input disabled type="text" class="form-control" id="Category" placeholder="@Model.Product.Category">
            </div>
            <div class="col-6">
                <label for="NPC_Code" class="form-label">NPC_Code</label>
                <input disabled type="text" class="form-control" id="NPC_Code" placeholder="@Model.Product.NPC_Code">
            </div>
            <div class="col-6">
                <label for="GroupCode" class="form-label">GroupCode</label>
                <input disabled type="text" class="form-control" id="GroupCode" placeholder="@Model.Product.GroupCode">
            </div>
            <div class="col-6">
                <label for="GroupDesc" class="form-label">Group Description</label>
                <input disabled type="text" class="form-control" id="GroupDesc" placeholder="@Model.Product.GroupDesc">
            </div>
            <div class="col-6">
                <label for="ProductType" class="form-label">ProductType</label>
                <input disabled type="text" class="form-control" id="ProductType" placeholder="@Model.Product.ProductType">
            </div>
            <div class="col-6">
                <label for="TypeDescription" class="form-label">TypeDescription</label>
                <input disabled type="text" class="form-control" id="TypeDescription" placeholder="@Model.Product.TypeDescription">
            </div>
            <div class="col-6">
                <label for="UoM" class="form-label">UOM</label>
                <input disabled type="text" class="form-control" id="UoM" placeholder="@Model.Product.UoM">
            </div>
            <div class="col-6">
                <label for="quantity" class="form-label">Count</label>
                <input asp-for="Count" type="number" class="form-control" id="quantity" min="1" placeholder="Add quantity to place the order">
            </div>
            <div class="text-center " style="padding-top:10px;">
                <button type="submit" class="btn btn-primary">ADD TO ORDER CART</button>
               
            </div>
        </form>
    </div>
</div>