@model IEnumerable<Product>

@* <div class="pagetitle">
    <h1>Data Tables</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Data</li>
        </ol>
    </nav>
</div><!-- End Page Title --> *@

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Product Overview</h5>

                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr >
                                <th class="text-start">Product Number</th>
                                <th class="text-start">NPC Code</th>
                                <th class="text-start">Product Description</th>
                                <th class="text-start">Group Description</th>
                                <th class="text-start">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model)
                            {
                                <tr >
                                    <td class="text-start">@product.Number</td>
                                    <td class="text-start">@product.NPC_Code</td>
                                    <td class="text-start">@product.Description</td>
                                    <td class="text-start">@product.GroupDesc</td>
                                    <td class="text-start">
                                        <button style="border: none">
                                            <a asp-action="Details" asp-route-productId="@product.ProductId">Details</a>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Product Master DataOverview -->