@model IEnumerable<Invoice>

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Invoice Overview</h5>

                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr >
                                <th class="text-center">Invoice No</th>
                                <th class="text-center">OBD No</th>
                                <th class="text-center">Quotation No</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var invoice in Model)
                            {
                                <tr>
                                    <td class="text-center">@invoice.InvoiceNo</td>
                                    <td class="text-center">@invoice.OBDNo</td>
                                    <td class="text-center">@invoice.QuotationNo</td>
                                    <td class="text-center">
                                        @switch (invoice.Status)
                                        {
                                            case SD.StatusPending:
                                                <span class="badge bg-warning">@invoice.Status</span>
                                                break;
                                            case SD.StatusCancelled:
                                                <span class="badge bg-danger">@invoice.Status</span>
                                                break;
                                            case SD.StatusApproved:
                                                <span class="badge bg-success">@invoice.Status</span>
                                                break;
                                            case SD.StatusInProcess:
                                                <span class="badge bg-primary">@invoice.Status</span>
                                                break;
                                            default:
                                                @invoice.Status
                                                break;
                                        }
                                    </td>

                                    <td class="text-center">
                                        <button style="border: none">
                                            <a asp-action="InvoiceDetails" asp-route-invoiceNo="@invoice.InvoiceNo">Details</a>
                                        </button>
                                    </td>


                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>