@model IEnumerable<GoodsIssue>


<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Goods Receipt Overview</h5>

                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr >
                                <th class="text-start">Quotation No</th>
                                <th class="text-start">OBD No</th>
                                <th class="text-start">Status</th>
                                <th class="text-start">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var goodsIssue in Model)
                            {
                                <tr >
                                    <td class="text-start">@goodsIssue.QuotationNo</td>
                                    <td class="text-start">@goodsIssue.OBDNo</td>
                                    <td class="text-start">
                                        @switch (goodsIssue.Status)
                                        {
                                            case SD.StatusPending:
                                                <span class="badge bg-warning">@goodsIssue.Status</span>
                                                break;
                                            case SD.StatusCancelled:
                                                <span class="badge bg-danger">@goodsIssue.Status</span>
                                                break;
                                            case SD.StatusApproved:
                                                <span class="badge bg-success">@goodsIssue.Status</span>
                                                break;
                                            case SD.StatusInProcess:
                                                <span class="badge bg-info">@goodsIssue.Status</span>
                                                break;
                                            default:
                                                @goodsIssue.Status
                                                break;
                                        }
                                    </td>

                                    <td class="text-start">
                                        <button style="border: none">
                                            <a asp-action="GoodsIssueDetails" asp-route-obdNo="@goodsIssue.OBDNo">Details</a>
                                        </button>
                                    </td>


                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>
